<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>CivitasProcuratio</title>
</head>
<body>
    <h2>Inserisci il periodo</h2>
    <p th:text="${message}"></p>
    <form th:action="@{'/admin/periodPresence' + '/' + ${structure.id}}" method="POST">
        <input id="from" name="from" type="date" th:object="${from}" required="required" title="from"/>
        <input id="to" name="to" type="date" th:object="${to}" required="required" title="to"/>
        <button type="submit">Conferma</button>
    </form>
    <div>
        <a th:href="@{'/admin/structureInfo' + '/' + ${structure.id}}">Torna alla struttura</a>
    </div>
</body>
</html>